.adoption-banner{
    background-color: #fbc4a4;
    background-image: linear-gradient(315deg, #fdba8d 0%, #f3ebdc 74%);
}
.adoption-cracks{
    background-color: #fbc4a4;
    background-image: linear-gradient(315deg, #fdba8d 0%, #f3ebdc 74%);
}